{% extends "priority_action_areas/base.html" %}
{% block paa_name %}Court Notifications{% endblock %}
{% block paa_description %}
Everyone who interacts with the court system deserves a fair and modern experience.
{% endblock %}
{% block paa_icon_path %}{{ asset_url_for("images/icon_paa_court_notifications.png") }}{% endblock %}
{% block paa_about %}
  <div class="grid-box">
    <div class="width-one-whole">
      <h2>About this Priority Action Area</h2>
    </div>

    <div class="width-seven-twelfths">
      <p>With something as seemingly-straightforward as providing notifications about court obligations, these projects transform the local criminal justice ecosystem by making sure people know their obligations and can easily pay fines using a mo