{% extends "priority_action_areas/base.html" %}
{% block paa_name %}Voting Rights{% endblock %}
{% block paa_description %}
Every American should feel safe, secure, and knowledgeable about the voting&nbsp;process.
{% endblock %}
{% block paa_icon_path %}{{ asset_url_for("images/icon_paa_voting.png") }}{% endblock %}
{% block paa_about %}
  <div class="grid-box">
    <div class="width-one-whole">
      <h2>About this Priority Action Area</h2>
    </div>

    <div class="width-seven-twelfths">
      <p>It’s 2020 and the year of a major presidential election. There is renewed energy and organizing to ensure people feel safe and secure in the voting process, and understand who they are voting for.</p>
    </div>
  </div>
{% endblock %}

{% set canvases = [
  { 
    "title": "ParaVotar", 
    "tagline": "A tool that facilitates voter education, information and ballot practice in Puerto Rico.", 
    "url": "https://docs.google.com/document/d/1GPlNJRo-wv01PkOxs7XLLJ0VSHn18gsLt1s_V5Wto3E/edit?usp=sharing", 
    "brigade": "Code for Puerto Rico" 
  },
  { 
    "title": "GoVoteGSO", 
