{% extends "base.html" %}

{% block subhero_title %}Find your local Brigade{% endblock %}
{% block subhero_description %}
<p class="lead-in-text">Explore the {{ brigades_total }} official Code for America brigades across the US.</p>
{% endblock %}
{% block description %}
Explore the {{ brigades_total }} official Code for America brigades across the US.
{% endblock %}

{% block page_id %}brigade-list{% endblock %}

{% block content %}
<div class="slab slab--compact">
  <div class="grid-box">
    <div class="width-two-thirds">
      <div class="message">
        <div class="message__icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="message__content">
          No brigade near you? <strong>Start a new brigade!</strong><br>
          <a href="https://cfa.typeform.com/to/uxPQH6" target="_blank">Tell us about yourself and we'll help you get started.