{% extends "base.html" %}
{% block subhero_title %}
Financial Administration
{% endblock %}
{% block subhero_description %}
<p class="lead-in-text">
Code for America supports Brigades by providing the infrastructure to fundraise, spend money, and enter into contracts.
</p>
{% endblock %}
{% block in_page_nav %}
<nav>
  <strong>On this page:</strong>
  <a href="#fundraising" class="in-page-nav__link">Fundraising</a>
  <a href="#fiscal-sponsorship" class="in-page-nav__link">Local Fiscal Sponsors</a>
  <a href="#partner-brigades" class="in-page-nav__link">Partner Brigades</a>
</nav>
{% endblock %}

{% block content %}
<section class="slab">
  <div class="grid-box">
    <div class="width-seven-twelfths">
      <h3>About Financial Administration</h3>

      <p>One way that Code for America supports the Brigade Network is by handling financial administration for Brigades. This support allows Brigades to fundraise and spend money for their Brigades, without having to worry about financial administration.</p>

      <p>Here are some commonly-requested resources related to Code for America financial administration:</p>
    </div>

    <div class="grid-box">
      <div class="width-one-whole">
        <div class="span-four grid-item">
          <a href="https://docs.google.com/spreadsheets/d/1AtAHEzfHtSvetfgpQQh_KGsdphoU0JjT64So2Z