{% extends "base.html" %}
{% block subhero_title %}
National Network Team
{% endblock %}
{% block subhero_description %}
<p class="lead-in-text">
The Code for America Network Team is a staff team dedicated to building a movement of people making government work for the people, by the people, in the digital age.
</p>
{% endblock %}

{% block content %}
<section class="slab grey-bg-slab">
  <div class="grid-box">
    <div class="width-seven-twelfths">
      <h2>About the Code for America Network Team</h2>

      <p>
      The Code for America Network Team supports the nationwide Brigade Network, organizes the <a href="https://www.codeforamerica.org/programs/fellowship" target="_blank">Code for America Community Fellowship</a>, and leads Code for America’s volunteer mobilization. To do this, the team works closely with Brigade leaders, the <a href="{{ url_for('.national_advisory_council') }}">National Advisory Council (NAC)</a>, and national partner organizations to develop and execute a program strategy to build a nationwide movement.
      </p>
    </div>
  </div>

  <div class="grid-box">
    <div class="width-one-third">
      <a class="card link-card" href="https://www.codeforamerica.org/people/meredith-horowski" target="_blank">
        <img class="card-image" src="{{ asset_url_for('images/network-team/meredith-80.jpg') }}">
        <div class="card-content">
          <h4 class="card-title">Meredith Horowski</h4>
          <h5>Senior Program Director, Network (she/her)</h5>
          <p>As the Senior Director of the Code for America Network, Meredith establishes and leads the strategy for the Brigade Network, Community Fellowship, and volunteer mobilization in collaboration with Brigade members, our National Advisory Council (NAC), fellows, alumni, partners, and Code for America stakeholders.</p>
          <p class="card-link">Meet Meredith</p>
        </div>
      </a>
    </div>

    <div class="width-one-third">
      <a class="card link-card" href="https://www.codeforamerica.org/people/veronica-young" target="_blank">
        <img class="card-image" src="{{ asset_url_for('images/network-team/veronica-80.jpg') }}">
        <div class="card-content">
          <h4 class="card-title">Veronica Young</h4>
          <h5>Senior Program Manager, Brigade Network – West (she/her)</h5>
          <p>As a Senior Program Manager, Veronica organizes national events and partnerships, and coordinates support and processes for Brigade leaders in the Western Region. Brigades in Western states (west of the Mississippi River, including Alaska, and Hawaii) should reach out to Veronica first for any general questions, support needs, or if there are any updates to your Brigade leadership or structure.</p>
          <p class="card-link">Meet Veronica</p>
        </div>
      </a>
    </div>

    <div class="width-one-third">
      <a class="card link-card" href="https://www.codeforamerica.org/people/will-pfeffer" target="_blank">
        <img class="card-image" src="{{ asset_url_for('images/network-team/will-80.jpg') }}">
        <div class="card-content">
          <h4 class="card-title">Will Pfeffer</h4>
          <h5>Senior Program Manager, Brigade Network – East (he/him)</h5>
          <p>As a Senior Program Manager, Will organizes national events, partnerships, and coordinates s