{% extends "base.html" %}
{% block subhero_title %}
National Network Team
{% endblock %}
{% block subhero_description %}
<p class="lead-in-text">
The Code for America Network Team is a staff team dedicated to building a movement of people making government work for the people, by the people, in the digital age.
</p>
{% endblock %}

{% block content %}
<section class="slab grey-bg-slab">
  <div class="grid-box">
    <div class="width-seven-twelfths">
      <h2>About the Code for America Network Team</h2>

      <p>
      The Code for America Network Team supports the nationwide Brigade Network, organizes the <a href="https://www.codeforamerica.org/programs/fellowship" target="_blank">Code for America Community Fellowship</a>, and leads Code for America’s volunteer mobilization. To do this, the team works closely with Brigade leaders, the <a href="{{ url_for('.national_advisory_council') }}">National Advisory Council (NAC)</a>, and national partner organizations to develop and execute a program strategy to b