{% extends "base.html" %}
{% block title %}Priority Action Areas{% endblock %}
{% block description %}The Brigade Network's Priority Action Areas are areas where we feel we can have outsized impact in 2020 and beyond.{% endblock %}
{% block subhero_title %}Priority Action Areas{% endblock %}
{% block subhero_description %}
<p class="lead-in-text">
Brigades across the country will work collectively in these areas to build shared projects, create common resources, and support each other.
</p>
{% endblock %}
{% block hero_right %}
<div class="message">
  <div class="message__icon">
    <i class="fab fa-github"></i>
  </div>
  <div class="message__content">
    <strong>Looking for the Civic Tech Github Project